html {
  height: 100vh;
  body {
    background-color: $background-dark;
    color: $light;
    font-family: $primaryFont;
    height: 100%;

    #app {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      color: $primary;
    }
  }
}
