/* Colors */
$primary: #212121;
$light: #ffffff;

$background-dark: #090b1a;
$foreground-dark: #1b1938;
$accent: #aa5cdb;

/* Fonts */
$primaryFont: "Inter", sans-serif;
$secondaryFont: "Lexend Deca", sans-serif;
